In [21]:
from itertools import compress
import igraph as ig

g = ig.Graph(4, directed=True)
g.add_edges([(1, 2), (2, 1), (1, 3), (0, 3), (3, 0), (2, 3)])
g.es["weight"] = [1, 10, 1, 2, 8, 9]



# there's probably a more elegant way to do this
to_delete = []
weights = g.es["weight"]
for e in compress(g.es, g.is_mutual()):
    e_opp = g.get_eid(*reversed(e.tuple))
    e = g.get_eid(*e.tuple)
    weight_dif = g.es["weight"][e] - g.es["weight"][e_opp]
    if weight_dif > 0:
        print(weight_dif)
        weights[e] = weight_dif
        to_delete.append(e_opp)

g.es["weight"] = weights
g.delete_edges(to_delete)

print(g)
print(g.es["weight"])

9
6
IGRAPH D-W- 4 4 --
+ attr: weight (e)
+ edges:
2->1 1->3 3->0 2->3
[9, 1, 6, 9]

In [31]:
from random import random
# subgraph = ig.Graph(4, directed=True)
# subgraph.add_edges([(1, 2), (2, 1), (1, 3), (0, 3), (3, 0), (2, 3)])
# subgraph.es["weight"] = [1, 10, 1, 2, 8, 9]

subgraph = ig.Graph.Erdos_Renyi(n=50, m=500, directed=True)
subgraph.es["weight"] = [random() for _ in range(500)]

print(len(subgraph.es))
print(any(subgraph.is_mutual()))

# there's probably a more elegant way to do this
to_delete = []
weights = subgraph.es["weight"]
for e in compress(subgraph.es, subgraph.is_mutual()):
    e_opp = subgraph.get_eid(*reversed(e.tuple))
    e = subgraph.get_eid(*e.tuple)
    weight_dif = weights[e] - weights[e_opp]
    if weight_dif > 0:
        weights[e] = weight_dif
        to_delete.append(e_opp)

subgraph.es["weights"] = weights
subgraph.delete_edges(to_delete)

print(len(subgraph.es))
print(any(subgraph.is_mutual()))

500
True
441
False

In [1]:
from JFRRS import JFRRS
jf = JFRRS("JFRRS.sqlite")

Connection to JFRRS.sqlite successful.

In [10]:
print(len(jf.athletes))
print(len(jf.meets))
print(jf.graph.es["meet_id"][:10])
print(len(jf.graph.clusters().giant().vs))

10102
112
[17577, 17577, 17577, 17577, 17577, 17577, 17577, 17577, 17577, 17577]
3665

In [2]:
jf.get_top_seven("MN_college_m_Carleton")

[6918559, 7907645, 6918558, 7797935, 7393503, 7393502, 6918557]

In [3]:
from pprint import pprint
pprint(jf.cxn.execute("select * from athletes where team_id == 'MN_college_m_Carleton'").fetchall())

[(6918557, 'Nakasaka, Adam', 'MN_college_m_Carleton'),
 (6918558, 'Lavey, Stephen', 'MN_college_m_Carleton'),
 (6918559, 'Santos, Ben', 'MN_college_m_Carleton'),
 (6918562, 'Shufro-Zletz, Jesse', 'MN_college_m_Carleton'),
 (7393502, 'Aoki-Sherwood, Ben', 'MN_college_m_Carleton'),
 (7393503, 'Bowman, Henry', 'MN_college_m_Carleton'),
 (7393504, 'Chao, Ben', 'MN_college_m_Carleton'),
 (7393508, 'Johnson, Parker', 'MN_college_m_Carleton'),
 (7393509, 'Jones, Elijah', 'MN_college_m_Carleton'),
 (7393510, 'Sather, Zak', 'MN_college_m_Carleton'),
 (7393511, 'Watts, Avery', 'MN_college_m_Carleton'),
 (7797931, 'Pattison, Alistair', 'MN_college_m_Carleton'),
 (7797934, 'Melville, Chris', 'MN_college_m_Carleton'),
 (7797935, 'Ash, Ethan', 'MN_college_m_Carleton'),
 (7907645, 'Hanley, Brett', 'MN_college_m_Carleton'),
 (7907646, 'Meier, Josh', 'MN_college_m_Carleton')]

In [5]:
u = jf.graph.vs.find(id=6918559) # steven
v = jf.graph.vs.find(id=7907645) # brett

jf.graph.are_connected(u, v)

False

In [2]:
lst = iter(list(range(20)))

print(next(lst))
print(next(lst))
print(next(lst))
print(next(lst))
next(lst)
next(lst)
next(lst)
print(next(lst))
print(next(lst))

0
1
2
3
7
8

In [1]:
import sqlite3

db = sqlite3.connect("JFRRS.sqlite")

In [6]:
db.execute("""
    SELECT * FROM ATHLETES WHERE TFRRS_id == 1;
""").fetchone() == None

True

In [132]:
url = "https://www.tfrrs.org/js/navbar_autocomplete.js"

with requests.get(url) as r:
    javascript = r.text

dfs = []
for table_name in ["autocomplete_teams", "autocomplete_conferences"]:
    # find meet array in retrieved javascript file
    pattern = rf"{table_name}\s*=\s*(\[(.|\n)+?\]);"
    json = re.search(pattern, javascript).group(1)
    json = json.replace("{text:", "{\"text\":").replace(",url:", ",\"url\":")

    df = pd.read_json(StringIO(json))  # load into dataframe
    
    # clean up
    df["name"] = df.text.str.replace(" (F)", "", regex=False).str.replace(" (M)", "", regex=False)

    if "teams" in table_name:
        df["gender"] = ["M" if " (M)" in text else "F" for text in df.text]

    df["id"] = (df.url
        .str.replace("/teams/", "", regex=False)
        .str.replace("/leagues/", "", regex=False)
        .str.replace("xc/", "", regex=False)
        .str.replace(".html", "", regex=False)
    )

    dfs.append(df.drop(columns=["url", "text"]).drop_duplicates())

teams, leagues = dfs

display(teams)
display(leagues)

                   name gender                              id
0     Abilene Christian      F  TX_college_f_Abilene_Christian
1     Abilene Christian      M  TX_college_m_Abilene_Christian
2        Academy of Art      F     CA_college_f_Academy_of_Art
3        Academy of Art      M     CA_college_m_Academy_of_Art
4           Adams State      F        CO_college_f_Adams_State
...                 ...    ...                             ...
3360         York (Pa.)      M            PA_college_m_York_PA
3361     York County CC      F    ME_jcollege_f_York_County_CC
3363     York County CC      M    ME_jcollege_m_York_County_CC
3365     Youngstown St.      F      OH_college_f_Youngstown_St
3366     Youngstown St.      M      OH_college_m_Youngstown_St

[3365 rows x 3 columns]

                    name    id
0                 AARTFC  1538
1                    ACC    62
2           America East    61
3    American Collegiate  1536
4       American Midwest  1477
..                   ...   ...
174        Orange Empire    28
175        Pacific Coast    29
176                SoCal    22
177          South Coast    30
178        Western State    31

[179 rows x 2 columns]

In [2]:
import dateutil
from io import StringIO
import re

import requests
import pandas as pd

# get javacript file from directathletics site
url = "https://www.directathletics.com/scripts/fuseDriver.js"
headers = {
    'authority' : 'www.directathletics.com',
    'accept' : 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9',
    'accept-language' : 'en-US,en;q=0.9,la;q=0.8',
    'cache-control' : 'max-age=0',
    'cookie' : '__utma=138588838.663648652.1656164692.1656164692.1656164692.1; __utmc=138588838; __utmz=138588838.1656164692.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none); __utmv=138588838.public',
    'dnt' : '1',
    'sec-ch-ua' : '" Not A;Brand";v="99", "Chromium";v="102", "Google Chrome";v="102"',
    'sec-ch-ua-mobile' : '?0',
    'sec-ch-ua-platform' : '"macOS"',
    'sec-fetch-dest' : 'document',
    'sec-fetch-mode' : 'navigate',
    'sec-fetch-site' : 'none',
    'sec-fetch-user' : '?1',
    'upgrade-insecure-requests' : '1',
    'user-agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36',
}

with requests.get(url, headers=headers) as f:
    javascript = f.text

# find meet array in retrieved javascript file
pattern = r"data\s*=\s*(\[(.|\n)+?\]);"
json = re.search(pattern, javascript).group(1).replace('\n', "")

meets = pd.read_json(StringIO(json))  # load into dataframe

# cleanup columns
meets["tfrrs"] = meets.tfrrs == "1"
meets["date"] = [dateutil.parser.parse(date) for date in meets.date_begin]

meets = (meets
    [meets.sport == "xc"]
    .drop(columns=["date_begin", "meetpro",  "sport", "outdoors", "url", "tfrrs"])
    .set_index("meet_hnd", drop=True)
    .rename_index("id")
)

meets

KeyboardInterrupt:

In [14]:
import sqlite3

connection = sqlite3.connect("jfrrs.db")

list(connection.execute("SELECT COUNT(*) FROM results"))

[(64200,)]

In [1]:
import scrapy

In [8]:
import pandas as pd

df = pd.read_csv("prescraping/meets.csv", index_col=0)
meet_ids = reversed(df.index.to_list())
display(df)
display(meet_ids)

,venue_state,name,date
meet_hnd,,,
2052,CA,Long Beach MIddle School Cross Country Meet,2009-05-30
2080,NS,NSW Cross Country Championships,2009-06-20
2154,IN,Huntington North Cross Country Invitational,2009-08-22
2286,NC,Moore County Meet,2009-08-26
2156,IN,Purdue High School Cross Country Invitational,2009-08-29
...,...,...,...
19284,FL,NCAA Division II Cross Country Championships,2021-11-20
19300,FL,NCAA Division I Cross Country Championships,2021-11-20
19137,CA,CCCAA 2021 State Championships,2021-11-20
19337,NY,SUNY Poly Spring Meet,2022-04-23
19352,FL,Whispering Pines Invitational,2022-08-27

[19352,
 19337,
 19137,
 19300,
 19284,
 19297,
 18934,
 19289,
 18965,
 19294,
 18996,
 17754,
 19003,
 18999,
 18696,
 18697,
 18995,
 19000,
 18998,
 19295,
 19002,
 18964,
 19250,
 19024,
 19249,
 19001,
 18937,
 19292,
 19267,
 19266,
 19265,
 19264,
 18929,
 19291,
 19290,
 18936,
 19296,
 18928,
 18939,
 18935,
 19285,
 19273,
 19263,
 19197,
 19201,
 19202,
 19204,
 19200,
 19203,
 19069,
 19052,
 19261,
 19270,
 19271,
 19272,
 19040,
 19269,
 19049,
 19053,
 19039,
 19268,
 18709,
 18280,
 19066,
 19023,
 18933,
 19067,
 19050,
 19072,
 19065,
 19071,
 19070,
 19051,
 17841,
 18575,
 19195,
 19191,
 19198,
 19196,
 19199,
 19189,
 19128,
 18354,
 19046,
 18755,
 19259,
 19041,
 19258,
 19260,
 19037,
 19214,
 19257,
 19148,
 19194,
 19205,
 19255,
 19256,
 19192,
 19193,
 19190,
 19061,
 19253,
 19254,
 18520,
 19208,
 19251,
 19252,
 19183,
 19179,
 19248,
 18919,
 18736,
 18747,
 18421,
 19062,
 17988,
 19237,
 18770,
 19225,
 19019,
 18667,
 18656,
 18658,
 18661,
 18649,
 18704,
 18651,
 18654,
 18643,
 18644,
 18733,
 18728,
 19229,
 19228,
 19234,
 19153,
 18949,
 19158,
 19221,
 19238,
 19132,
 19126,
 18616,
 19124,
 18952,
 19125,
 18455,
 18843,
 19241,
 18915,
 19122,
 19133,
 19226,
 19224,
 19230,
 19143,
 19218,
 19006,
 19018,
 19027,
 19233,
 19054,
 19073,
 19060,
 19243,
 19016,
 18826,
 19220,
 19232,
 19119,
 19231,
 18751,
 18066,
 19085,
 18816,
 18761,
 19235,
 19059,
 19187,
 19239,
 18767,
 17866,
 19219,
 18125,
 19223,
 19244,
 18745,
 19151,
 18947,
 19242,
 19240,
 19030,
 19106,
 19236,
 18918,
 19021,
 19212,
 18962,
 19138,
 18265,
 18951,
 18406,
 18948,
 19215,
 19206,
 18663,
 18640,
 18641,
 18898,
 19217,
 18825,
 19207,
 18822,
 19216,
 18932,
 19210,
 19188,
 18727,
 19020,
 19010,
 19213,
 19209,
 19146,
 19211,
 19227,
 18961,
 19015,
 18665,
 18669,
 18659,
 18653,
 18700,
 19074,
 18620,
 18219,
 19136,
 18657,
 18703,
 18652,
 18705,
 18647,
 18325,
 19123,
 19180,
 19077,
 18706,
 18707,
 18702,
 18670,
 18671,
 18660,
 18662,
 18701,
 18646,
 19182,
 18836,
 19181,
 18901,
 19118,
 18842,
 19171,
 18823,
 18048,
 18636,
 18156,
 18308,
 18557,
 19162,
 18924,
 18955,
 19167,
 19097,
 19098,
 19099,
 19100,
 19168,
 17858,
 18763,
 18514,
 19169,
 19178,
 18073,
 19166,
 18950,
 18900,
 18829,
 18082,
 19172,
 18778,
 19173,
 18782,
 19121,
 18880,
 18824,
 18807,
 18155,
 18730,
 18335,
 19170,
 18559,
 19165,
 17628,
 18957,
 18899,
 17915,
 18921,
 19160,
 18731,
 18020,
 18523,
 19159,
 18923,
 19095,
 17967,
 18930,
 18261,
 19117,
 19055,
 19163,
 19025,
 17791,
 18913,
 19161,
 19013,
 19174,
 18958,
 18835,
 18922,
 19155,
 18341,
 19012,
 18722,
 19156,
 19157,
 19082,
 19116,
 18208,
 17907,
 18262,
 18047,
 17993,
 18558,
 18212,
 18004,
 19104,
 18977,
 18988,
 18989,
 18990,
 18991,
 18992,
 18993,
 18994,
 18978,
 18979,
 18980,
 18981,
 18984,
 18985,
 18986,
 18987,
 19111,
 19008,
 18528,
 18447,
 19110,
 17830,
 19091,
 18505,
 18413,
 18174,
 17795,
 19109,
 18771,
 18571,
 17864,
 19107,
 17851,
 17914,
 18909,
 17766,
 18549,
 18334,
 17820,
 19103,
 17857,
 19101,
 19105,
 19102,
 18168,
 18234,
 18613,
 19080,
 17878,
 19150,
 17741,
 19094,
 18282,
 19090,
 19096,
 19093,
 18392,
 19089,
 18044,
 18426,
 19108,
 19088,
 19084,
 19092,
 19083,
 17856,
 18448,
 19087,
 18818,
 18838,
 18798,
 19011,
 18773,
 18740,
 18841,
 18960,
 18626,
 18753,
 17863,
 18414,
 18970,
 18192,
 18226,
 18971,
 17919,
 18942,
 18542,
 18973,
 18813,
 17577,
 18844,
 18853,
 18854,
 18855,
 18856,
 18857,
 18858,
 18859,
 18860,
 18861,
 18862,
 18845,
 18863,
 18864,
 18865,
 18866,
 18867,
 18868,
 18869,
 18870,
 18871,
 18872,
 18846,
 18873,
 18874,
 18875,
 18847,
 18848,
 18849,
 18850,
 18851,
 18852,
 18716,
 18628,
 18289,
 18725,
 17920,
 18840,
 17817,
 18550,
 18805,
 18982,
 17759,
 19005,
 18972,
 18765,
 18976,
 18975,
 18045,
 17774,
 18969,
 18983,
 18762,
 18266,
 18974,
 18501,
 18255,
 18573,
 18638,
 18014,
 18754,
 18968,
 18609,
 18230,
 17997,
 18967,
 18134,
 18615,
 18834,
 17846,
 18175,
 17801,
 18562,
 18966,
 18729,
 18953,
 18830,
 18602,
 17811,
 17895,
 17738,
 18008,
 18380,
 18093,
 18533,
 18717,
 18810,
 18888,
 18808,
 18633,
 18279,
 18087,
 18546,
 18893,
 18890,
 18887,
 17875,
 18556,
 18896,
 18895,
 18499,
 18537,
 17736,
 18726,
 18889,
 18886,
 18270,
 17761,
 18631,
 18897,
 17973,
 18752,
 18022,
 17962,
 18056,
 18892,
 18811,
 18396,
 18291,
 18884,
 17781,
 18720,
 18115,
 17978,
 18415,
 18214,
 18108,
 18692,
 17837,
 18891,
 18574,
 18719,
 18883,
 18621,
 18879,
 18894,
 17891,
 18418,
 18878,
 18624,
 18681,
 18482,
 18440,
 18817,
 18314,
 18882,
 18699,
 18154,
 18885,
 18095,
 18737,
 18601,
 18300,
 18422,
 17758,
 18190,
 17904,
 18511,
 18611,
 18497,
 18017,
 18178,
 18792,
 18800,
 18329,
 18608,
 18522,
 17890,
 18784,
 17785,
 18277,
 18790,
 18429,
 17922,
 18513,
 18288,
 18785,
 18788,
 18793,
 18076,
 18394,
 17822,
 18220,
 18791,
 17898,
 17803,
 18779,
 18783,
 18780,
 18033,
 18781,
 17787,
 18189,
 18025,
 18164,
 17959,
 18167,
 18197,
 18612,
 18775,
 18357,
 18774,
 18419,
 17808,
 18444,
 18777,
 18794,
 18787,
 18789,
 17832,
 18776,
 17847,
 18630,
 17748,
 17881,
 18274,
 18344,
 18224,
 17886,
 18401,
 18742,
 17941,
 18046,
 18424,
 18741,
 18687,
 18684,
 18423,
 18330,
 18332,
 18691,
 18420,
 18541,
 17932,
 18529,
 18319,
 18405,
 18222,
 18116,
 18607,
 18040,
 18218,
 18524,
 18694,
 18689,
 17933,
 18171,
 18686,
 18371,
 18254,
 18744,
 18251,
 18232,
 17850,
 18750,
 18554,
 18685,
 17910,
 18688,
 17872,
 18693,
 18385,
 17842,
 18548,
 18637,
 17917,
 17901,
 18333,
 17902,
 18683,
 17912,
 17760,
 17896,
 18690,
 17813,
 17805,
 17942,
 18327,
 17742,
 18101,
 18515,
 17934,
 17779,
 17868,
 18639,
 18682,
 17740,
 18153,
 18768,
 18673,
 18228,
 18539,
 18071,
 18679,
 18677,
 18678,
 18369,
 18043,
 17823,
 18312,
 18310,
 17825,
 18049,
 18446,
 18676,
 17892,
 18427,
 17945,
 18568,
 18551,
 18399,
 18672,
 18680,
 18078,
 18674,
 18530,
 18263,
 18532,
 18527,
 18347,
 17876,
 17780,
 17905,
 18290,
 17961,
 18027,
 18121,
 17827,
 18119,
 18103,
 17852,
 18229,
 18710,
 18590,
 18244,
 18039,
 17936,
 17806,
 18391,
 18260,
 18259,
 18088,
 18313,
 18595,
 18131,
 18100,
 18412,
 18070,
 17812,
 18598,
 18587,
 18029,
 18272,
 17888,
 18593,
 18065,
 18223,
 18582,
 18012,
 18173,
 18246,
 18594,
 18586,
 17828,
 18410,
 18328,
 18584,
 18404,
 18489,
 18588,
 18596,
 18585,
 17790,
 18604,
 18454,
 18303,
 18592,
 18124,
 17958,
 18599,
 17765,
 18600,
 18063,
 18348,
 18361,
 17943,
 18597,
 18001,
 17620,
 17840,
 18271,
 18163,
 17923,
 18570,
 17810,
 17744,
 18579,
 18349,
 18622,
 18041,
 18227,
 18577,
 18425,
 18591,
 18580,
 18002,
 17860,
 18305,
 18032,
 18075,
 18445,
 18589,
 17831,
 18567,
 18565,
 18578,
 18581,
 18365,
 18207,
 18217,
 18627,
 18378,
 18576,
 18067,
 18759,
 18273,
 18248,
 18366,
 18309,
 18388,
 18540,
 17757,
 18360,
 18237,
 17990,
 18042,
 17843,
 17930,
 18487,
 18013,
 18500,
 18544,
 17977,
 18079,
 17867,
 18034,
 17750,
 18122,
 18477,
 18496,
 17983,
 18352,
 17935,
 18480,
 18519,
 18475,
 18203,
 18204,
 18086,
 17921,
 18028,
 18494,
 18502,
 18478,
 17782,
 18307,
 18201,
 17998,
 18359,
 18256,
 18267,
 18495,
 18370,
 18245,
 18481,
 18294,
 18476,
 18479,
 17893,
 18016,
 18498,
 18395,
 18180,
 18491,
 17818,
 18490,
 18099,
 18149,
 17861,
 18233,
 18105,
 18170,
 17844,
 18483,
 18009,
 18509,
 17778,
 18160,
 18264,
 18469,
 18199,
 18007,
 18473,
 18503,
 18492,
 18465,
 18242,
 17970,
 18338,
 18127,
 18526,
 18148,
 18468,
 18470,
 17877,
 18198,
 17833,
 18535,
 17772,
 17897,
 18191,
 18083,
 17829,
 18026,
 18457,
 18467,
 18389,
 18225,
 18094,
 18463,
 18464,
 18449,
 18881,
 17816,
 18169,
 18459,
 18460,
 18343,
 17807,
 17783,
 18188,
 18372,
 18471,
 18461,
 18364,
 18472,
 17894,
 17899,
 17789,
 18484,
 18485,
 17874,
 17871,
 17982,
 18493,
 18462,
 17865,
 17819,
 18518,
 17794,
 17966,
 18296,
 18342,
 17773,
 18466,
 ...]

In [1]:
import requests

url = "https://www.directathletics.com/scripts/fuseDriver.js"
headers = {
    "user-agent": "jfrrs"
}

with requests.get(url, headers=headers) as r:
    assert r.status_code == 200, "Request rejected by Direct Athletics"
    js = r.text.replace("\t", " ")

In [4]:
import re
import json
import pandas as pd

pattern = re.compile(r"(\[\s*(?:{.+?},?\s*)*\]);", flags=re.DOTALL)

meets_string = pattern.search(js).group(1)

,url,tfrrs,venue_state,name,meetpro,date_begin,outdoors,meet_hnd,sport
0,https://www.directathletics.com/results/track/...,0,NH,NH Weight Throw Classic,0,2009-01-02,1,10674,track
1,https://www.directathletics.com/results/swimmi...,,NH,Pinkerton vs Haverhill MA,0,2009-01-02,NaN,8708,swimming
2,https://www.directathletics.com/results/track/...,0,NH,NH Indoor Track League Meet#3 UNH Morning Session,0,2009-01-03,0,10444,track
3,https://www.directathletics.com/results/track/...,0,NH,NH Indoor Track League Meet#3 UNH Afternoon Se...,0,2009-01-03,0,10445,track
4,https://www.directathletics.com/results/track/...,0,NH,NH Indoor Track League Meet #3 Dartmouth Session,0,2009-01-03,0,10448,track
...,...,...,...,...,...,...,...,...,...
52918,//www.tfrrs.org/results/xc/20851/2022_CUNYAC_C...,1,NY,2022 CUNYAC Cross Country Championships,0,2022-10-30,NaN,20851,xc
52919,//www.tfrrs.org/results/xc/20563/NEWMAC_Cross_...,1,MA,NEWMAC Cross Country Championship,0,2022-10-30,NaN,20563,xc
52920,//www.tfrrs.org/results/xc/20757/NJCAA_Region_...,1,IA,NJCAA Region XI Cross Country Championships,0,2022-10-30,NaN,20757,xc
52921,https://www.directathletics.com/results/xc/210...,0,MA,Middlesex League XC Championship,0,2022-10-31,NaN,21071,xc
52922,https://www.directathletics.com/results/xc/204...,0,MA,2022 Mass Vocational Schools XC Championships,0,2022-10-31,NaN,20407,xc

In [55]:
import json5 as json

url = "https://www.tfrrs.org/js/navbar_autocomplete.js"

with requests.get(url) as r:
    javascript = r.text

table_name = "autocomplete_teams"

# find array in javascript file
pattern = re.compile(rf"{table_name}\s*=\s*(\[.+?\]);", flags=re.DOTALL)

array_string = pattern.search(javascript).group(1)  # find array in the js file
raw_df = pd.DataFrame(json.loads(array_string))

NameError: name 'dfs' is not defined

In [3]:
from scraper.util import get_leagues_df, get_teams_df, get_meets_df

ModuleNotFoundError: No module named 'bs4'

Pipfile             docker-compose.yml  pages/              styles/
Pipfile.lock        next-env.d.ts       postcss.config.js   tailwind.config.js
README.md           next.config.js      prisma/             tsconfig.json
_legacy/            node_modules/       public/             yarn.lock
app/                package.json        scraper/